@import "../../styles.scss";

@keyframes SlideUp {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes SlideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeColor {
  0% {background: $button-primary-lightblue-gradient;}
  100% {background: linear-gradient(145deg, $button-primary-lightblue-flat, darken($button-primary-lightblue-flat, 10%));}
}

h1 {
    font-size: 240%;
    background: linear-gradient(45deg, rgb(22, 83, 197), rgb(52, 210, 238));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.8;
}

h2 {
    font-size: 140%;
    font-weight: 400;
    background: linear-gradient(45deg, rgb(22, 83, 197), rgb(52, 210, 238));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-div {
    color: $main-text-color;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    padding: 100px 0px 50px 0px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-title-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 95vw;
  margin: 10px 0;
  opacity: 0;
  animation: 0.5s SlideUp forwards 0s;
}

.main-title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
    flex-grow: 1;
    border-radius: 20px;
    background: $main-bg-gradient-flat;
    box-shadow: 6px 6px 8px #c9cccf, -6px -6px 8px #ffffff;
}

.secondary-title-div {
    border-radius: 20px;
}

.main-title {
    font-family: "Noto Sans";
    font-size: 45px;
    font-weight: 700;
    background: linear-gradient(45deg, rgb(43, 105, 219), rgb(107, 204, 221));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 20px;
    line-height: 1.8;
    
}

.secondary-title {
    line-height: 1.2;
    margin: -20px;
    font-size: 12px;
    font-weight: 400;
    background: linear-gradient(45deg, rgb(180, 180, 180), rgb(122, 122, 122));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.side-title-div {
    margin-left: 20px;
    height: 160px;
    flex-grow: 5;
    border-radius: 20px;
    background: $main-bg-gradient-flat;
    box-shadow: 6px 6px 8px #c9cccf, -6px -6px 8px #ffffff;
    padding: 0px 40px;
    font-size: 16px;

    h2 {
      padding: 20px 0 0 0;
    }

    .contact-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .contactme-button-email,
      .contactme-button-linkedin {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 10px 0 0;
        color: $main-bg-color;
        font-size: 12px;
        max-width: fit-content;
        padding: 0 12px;
        height: 28px;
        border-radius: 5px;
        background: $button-primary-purple-gradient;
        box-shadow: 3px 3px 6px #bdbec0, -3px -3px 6px #ffffff;
        transition: all 0.5s;
      }

      .contactme-button-linkedin {
        background: $button-primary-lightblue-gradient;
      }

      .contactme-button-email:active {
        box-shadow: inset 3px 3px 6px $button-primary-purple-flat, inset -3px -3px 6px lighten($button-primary-purple-flat, 15%);
        transition: all 0.2s;
      }
      .contactme-button-linkedin:active {
        box-shadow: inset 3px 3px 6px $button-primary-lightblue-flat, inset -3px -3px 6px lighten($button-primary-lightblue-flat, 15%);
        transition: all 0.2s;
      }
    }
}

.main-content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    margin: 20px 0 0 0;
    height: auto;
    border-radius: 20px;
    // box-shadow: inset 3px 3px 8px #c9cccf, inset -3px -3px 8px #ffffff;
    opacity: 0;
    animation: 0.5s SlideUp forwards 0.2s;

    .main-content-1 {
      margin: 10px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      box-shadow: 6px 6px 8px #c9cccf, -6px -6px 8px #ffffff;

      .content-1-column-1 {
        font-size: 16px;
        padding: 20px 40px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        .content-1-column-1-p {
          font-size: 16px;
        }
      }
      
      .content-1-column-2-img {
        display: flex;
        border-radius: 0 20px 20px 0;
        box-shadow: -6px 0 10px #b8bbbe;
      }
    }
  
    .main-content-2 {
        margin: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        border-radius: 20px;
        box-shadow: 6px 6px 8px #c9cccf, -6px -6px 8px #ffffff;
    
        .content-2-column-1 {

          .content-2-column-1-img {
            display: flex;
            border-radius: 20px 0 0 20px;
            box-shadow: 6px 0 10px #b8bbbe;
          }
        }
        
        .content-2-column-2 {
          padding: 20px 40px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          font-size: 16px;
        }
    }

}




@media only screen and (max-width: 768px) {
    .main-title {
        font-size: 20px;
    }
    .main-title-div {
        height: 20px;
    }
    .secondary-title-div {
        height: 10px;
    }
    .secondary-title {
        font-size: 10px;
    }

    .main-text {
        font-size: 12px;
        width: 100vw;
        height: auto;
    }
}
