<div class="aboutmain-div">
    <div class="aboutpage-content">
        <div class="top-title-div">
            <div class="main-title-div">
                <p class="main-title">Eduardo Correia</p>
                <div class="secondary-title-div">
                    <p class="secondary-title">Fullstack Web Developer - Personal Page</p>
                </div>
            </div>
            <div class="side-title-div">
                <h2>Hey there!</h2>
                Welcome to my personal website. I hope you enjoy your stay.<br>
                I'm a certified Full-Stack Web Developer and I'm addicted to good UX and beautifully designed websites.<br>
                <div class="contact-buttons">
                    <a href="mailto:eduardoxcorreia@outlook.com" class="contactme-button-email" matRipple>
                        <img
                            src="../../assets/email-white-18dp.svg"
                            style="width: 18px; height: 16px; margin: 0 2px;" 
                            alt="Email icon"
                        >
                        Email
                    </a>
                    <a href="https://www.linkedin.com/in/eduardoxcorreia/" target="_blank()" class="contactme-button-linkedin .material-icons" matRipple>
                        <img
                            src="../../assets/email-white-18dp.svg"
                            style="width: 18px; height: 16px; margin: 0 2px;" 
                            alt="LinkedIn icon"
                        >
                        LinkedIn
                    </a>
                </div>
            </div>
        </div>

        <div class="cards-maindiv">
            <div class="card-div" matRipple>
                <div class="card-image">
                    <a href="http://linkedin.com/in/eduardoxcorreia/">
                        <img src="../../assets/linkedinlogo.png" alt="Linkedin logo">
                    </a>
                </div>
                <div class="card-title">
                    My LinkedIn Profile
                </div>
                <div class="card-text">
                    You can contact me directly via my LinkedIn. Just click the above image to access my profile directly, and send me a 
                    message! I'll answer as soon as I can!
                </div>
            </div>
            <div class="card-div" matRipple>
                <div class="card-image">
                    <a href="mailto:eduardoxcorreia@outlook.com">
                        <img src="../../assets/emaillogo.jpg" alt="Linkedin logo">
                    </a>
                </div>
                <div class="card-title">
                    My Professional Email
                </div>
                <div class="card-text">
                    Don't wanna mess with LinkedIn or any social networks? Send me an email: directly! Click the image above to open your 
                    favorite email application and send me a message directly! This might not be the fastest way to communicate with me, nor is 
                    it my prefered way, but I promise I will answer every question you might have, as soon as I can!
                </div>
            </div>
            <div class="card-div" matRipple>
                <div class="card-image">
                    <a href="https://20cafes.com">
                        <img src="../../assets/20cafeslogo.png" alt="Linkedin logo">
                    </a>
                </div>
                <div class="card-title">
                    One of the many networks from my other projects
                </div>
                <div class="card-text">
                    Did you know that I have made a lot of other projects? Do you like any of them? 20Cafes/dia (20Coffees/day) is a HUGE 
                    project that I am really proud of and it's my ultimate hobby. It's a complete community, with a website, YouTube and Twitch 
                    profiles! Anyway, you can use any of those ways to contact me! Here they are, choose your prefered way: <br>
                    <br>
                    YouTube: <a matRipple href="https://www.youtube.com/channel/UC3gM1MgRK_1WCSA9JzHP91A/about">20 Cafes por Dia</a> <br>
                    Instagram: <a matRipple href="https://instagram.com/20cafespordia">@20cafespordia</a> <br>
                    Twitter: <a matRipple href="https://twitter.com/20cafes">@20Cafes</a> <br>
                    Twitch: <a matRipple href="https://twitch.tv/20cafespordia">@20cafespordia</a>
                </div>
            </div>
        </div>

    </div>
</div>