<div class="aboutmain-div">
    <div class="aboutpage-content">
        <div class="top-title-div">
            <div class="main-title-div">
                <p class="main-title">Eduardo Correia</p>
                <div class="secondary-title-div">
                    <p class="secondary-title">Fullstack Web Developer - Personal Page</p>
                </div>
            </div>
            <div class="side-title-div">
                <h2>Hey there!</h2>
                Welcome to my personal website. I hope you enjoy your stay.<br>
                I'm a certified Full-Stack Web Developer and I'm addicted to good UX and beautifully designed websites.<br>
                <div class="contact-buttons">
                    <a href="mailto:eduardoxcorreia@outlook.com" class="contactme-button-email" matRipple>
                        <img
                            src="../../assets/email-white-18dp.svg"
                            style="width: 18px; height: 16px; margin: 0 2px;" 
                            alt="Email icon"
                        >
                        Email
                    </a>
                    <a href="https://www.linkedin.com/in/eduardoxcorreia/" target="_blank()" class="contactme-button-linkedin .material-icons" matRipple>
                        <img
                            src="../../assets/email-white-18dp.svg"
                            style="width: 18px; height: 16px; margin: 0 2px;" 
                            alt="LinkedIn icon"
                        >
                        LinkedIn
                    </a>
                </div>
            </div>
        </div>

        <div class="cards-maindiv">
            <div class="card-div">
                <div class="aboutcard-image">
                    <img src="../../assets/waves-blue-1.jpg" alt="Profile image">
                </div>
                <div class="aboutcard-title">
                    About my Website
                </div>
                <div class="aboutcard-text-div">
                    <div class="aboutcard-text">
                        Hello and welcome to my personal website! <br>
                        Here I try to express what I feel is one of the most beautiful ways to design a webpage. <br>
                        Smooth animations, beautiful shadows and depth effects, modern gradients and textures. <br> <br>
                        In this website I used mainly Angular 10 with some Angular Material elements, but it was still mainly designed by myself. <br>
                        Everything was made by me, the design, the layout, the animations (except the Material UI Ripple effect), the shadows, 3D depth effects, everything. 
                        The code is all up and accessible on my Github page.
                        <br> <br>
                        If you like what you see and would love to have something like this for your own website, <a [routerLink]="[ '/contactspage' ]">contact me, I'll answer as fast as I can!</a> <br>
                        <br>
                        
                    </div>
                </div>
            </div>

            <div class="card-div">
                <div class="aboutcard-image">
                    <img src="../../assets/neumorphism-ui.png" alt="neumorphism ui example image">
                </div>
                <div class="aboutcard-title">
                    Design and Ideology
                </div>
                <div class="aboutcard-text-div">
                    <div class="aboutcard-text">
                        I wanted to learn and experiment with this new design philosophy called "Neumorphism". This design tries to express 
                        depth and 3D sensations through shadows and textures, while keeping a lot of references to the FlatUI Design aestethic. <br>
                        This design tries to bring back the textures and work of art that was the old Skeumorphism, that really tried to mimic real-life objects 
                        and machines, but leaves behind the huge, heavy complexity that Skeumorphism had, while instead joining it with the more common nowadays 
                        Flat UI Design, which tries to be simple and clean. <br> <br>
                        The problem with Flat UI however, is that it can be just too simple and get too basic, to the point that designers almost have 
                        lost jobs or interest in working hard on it because a lot of Flat elements are just that - flat. Almost anyone can design a Flat button. 
                        It's just a rectangle with a solid color, right? Even Icons themselves, they just got too flat: two or three lines and a solid color and they 
                        call it a day. Don't you think this is starting to get boring and lazy? <br> <br>
                        Yea, that's where Neumorphism comes in. Without loosing the peaceful and clean nature of the Flat UI, it tries to bring back art, and real 
                        depth and creativity into UI and Icons. 
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>