
<div class="hello-message-div">
  <p class="hello-message">Hello, welcome!</p>
</div>

<div class="nav-bar">
  <div><a class="start-link" [routerLink]="[ '' ]">Home</a></div>
  <div class="portfolio-link">
    <label class="dropdown">
      <input type="checkbox" class="dd-input" id="test" />
      <div class="dd-button">Portfolio</div>

      <ul class="dd-menu">
        <li>
          <a
            class="nav-button-link"
            href="#">
              View All (Start here!)
            </a
          >
        </li>
        <li>
          <a
            class="nav-button-link"
            href="#"
            >Ed. Correia Portfolio (This Website)</a
          >
        </li>
        <li>
          <a
            class="nav-button-link"
            href="http://bookslibrary.eduardocorreia.epizy.com"
            >Books Library</a
          >
        </li>
        <li>
          <a
            class="nav-button-link"
            href="http://bookslibrary.eduardocorreia.epizy.com"
            >Forum</a
          >
        </li>
      </ul>
    </label>
  </div>
  <div>
    <a class="about-link" [routerLink]="[ '/aboutpage' ]" routerLinkActive="current-route-button">About Me</a>
  </div>
  <div>
    <a class="contacts-link" [routerLink]="[ '/contactspage' ]" routerLinkActive="current-route-button">Contact</a>
  </div>
  <div>
    <a class="aboutwebsite-link" [routerLink]="[ '#' ]" routerLinkActive="current-route-button">About This Website</a>
  </div>
</div>

<div class="page-content">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <p>(c) Copyright 2020 - Eduardo Correia - eduardocorreia.epizy.com</p>
</div>