<div class="aboutmain-div">
    <div class="aboutpage-content">
        <div class="top-title-div">
            <div class="main-title-div">
                <p class="main-title">Eduardo Correia</p>
                <div class="secondary-title-div">
                    <p class="secondary-title">Fullstack Web Developer - Personal Page</p>
                </div>
            </div>
            <div class="side-title-div">
                <h2>Hey there!</h2>
                Welcome to my personal website. I hope you enjoy your stay.<br>
                I'm a certified Full-Stack Web Developer and I'm addicted to good UX and beautifully designed websites.<br>
                <div class="contact-buttons">
                    <a href="mailto:eduardoxcorreia@outlook.com" class="contactme-button-email">
                        <img
                            src="../../assets/email-white-18dp.svg"
                            style="width: 18px; height: 16px; margin: 0 2px;" 
                            alt="Email icon"
                        >
                        Email
                    </a>
                    <a href="https://www.linkedin.com/in/eduardo-correia-0971531a2/" target="_blank()" class="contactme-button-linkedin .material-icons">
                        <img
                            src="../../assets/email-white-18dp.svg"
                            style="width: 18px; height: 16px; margin: 0 2px;" 
                            alt="LinkedIn icon"
                        >
                        LinkedIn
                    </a>
                </div>
            </div>
        </div>

        <div class="cards-maindiv">
            <div class="card-div">
                card1
            </div>
            <div class="card-div">
                card2
            </div>
            <div class="card-div">
                card2
            </div>
        </div>

    </div>
</div>