<div class="aboutmain-div">
    <div class="aboutpage-content">
        <div class="top-title-div">
            <div class="main-title-div">
                <p class="main-title">Eduardo Correia</p>
                <div class="secondary-title-div">
                    <p class="secondary-title">Fullstack Web Developer - Personal Page</p>
                </div>
            </div>
            <div class="side-title-div">
                <h2>Hey there!</h2>
                Welcome to my personal website. I hope you enjoy your stay.<br>
                I'm a certified Full-Stack Web Developer and I'm addicted to good UX and beautifully designed websites.<br>
                <div class="contact-buttons">
                    <a href="mailto:eduardoxcorreia@outlook.com" class="contactme-button-email">
                        <img
                            src="../../assets/email-white-18dp.svg"
                            style="width: 18px; height: 16px; margin: 0 2px;" 
                            alt="Email icon"
                        >
                        Email
                    </a>
                    <a href="https://www.linkedin.com/in/eduardoxcorreia/" target="_blank()" class="contactme-button-linkedin .material-icons">
                        <img
                            src="../../assets/email-white-18dp.svg"
                            style="width: 18px; height: 16px; margin: 0 2px;" 
                            alt="LinkedIn icon"
                        >
                        LinkedIn
                    </a>
                </div>
            </div>
        </div>

        <div class="cards-maindiv">
            <div class="card-div">
                <div class="aboutcard-image">
                    <img src="../../assets/profile.jpeg" alt="Profile image">
                </div>
                <div class="aboutcard-title">
                    Eduardo X Correia
                </div>
                <div class="aboutcard-text-div">
                    <div class="aboutcard-text">
                        Hello! I'm Eduardo X. A. Correia, I'm 24, from Portugal and I am a certified Full-Stack Web Developer, addicted to coding and creating/designing fully working and beautiful websites. <br>
                        I can work with Frontend (my favorite) or even Backend stuff. <br>
                        I am a lover of Angular and Material Design by Google, aswell as Neomorphism and new modern design philosophies. <br>
                        I got my degree and certification at FLAG School at Porto, Portugal in 2020, with a degree of 18 out of 20. Yea, pretty good! <br>
                        I'm constantly looking forward to new challenges and new technologies, and I really want to make the Web a better and more beautiful place. <br>
                        <br>
                        At Frontend, I can work with Angular, TypeScript, Javascript, HTML, CSS, SASS/SCSS, and use versioning systems like Git. <br>
                        At Backend, I can work with PHP, MySQL DB's, MongoDB's (NoSQL), JS, NodeJS, ExpressJS, and I have experience with Google Firebase, GitHub. <br>
                        But DO NOT let ANY of these be my limits! I love learning new stuff and I'm always looking forward to new challenges!
                        <br> <br> <br>
                        Do you like my work or any of my designs? <a [routerLink]="[ 'contacts' ]">Contact me now</a> and I can make you whatever you need in any design you want! Tell me what is on your head and 
                        I will tell you what I can or cannot do. Don't let anything limit your imagination!
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>